/* linear-gradient(to bottom, #05101f, #0c1f26, #1c2b2c, #2f3734, #414340) */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.nav{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    padding-right: 50px;
    position: fixed;
    top: 0;
    width:100%;
    height: 10vh;
    transition: all 0.5s;
    z-index: 1;
    border-bottom: 1px solid rgba(230, 228, 228, 0.5);
}
.nav #menu{
    display:none;
}
.moblist{
    width: 100%;
    height: max-content;
    display: none;
}
.list a{
    display:block;
    float:left;
    margin: 25px;
    height: 100%;
    font-size: 20px;
    color: white;
}
.c_logo img{
    height: 100%;
}
.intro{
    position: relative;
    top: 0;
    z-index: -1;
    background-image: linear-gradient(to bottom, rgba(5, 16, 31, 0.8), rgba(12, 31, 38, 0.8), rgba(28, 43, 44, 0.8), rgba(47, 55, 52, 0.8), rgba(65, 67, 64, 0.8)), url("Images\\introp.jpg");
    width: 100%;
    height: 80vh;
} 

.title1{
    position: relative;
    text-align: center;
    top: 40%;
    font-size: 50px;
    color: white;
    animation-name: head1;
    animation-duration: 1.5s;
}
.title2{
    position: relative;
    top: 45%;
    left: 28%;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 5px;
    width: max-content;
    animation-name: head2;
    animation-duration: 1.5s;
    color: white;
    
}

@keyframes head2 {
    0% {
        transform: translateX(-15px);
        opacity: 0;
    }
    60% {
        transform: translateX(10px);
        opacity: 0.8;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes head1 {
    0% {
        transform: translateX(15px);
        opacity: 0;
    }
    60% {
        transform:translateX(-10px);
        opacity: 0.8;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.about{
    display: flex;
    flex-wrap: wrap;
    margin: 70px 50px;
    box-shadow: gray 0 2px 5px 0;
    padding: 15px;
    border-radius: 20px;
}
.abtImg img{
    height: 250px;
    
}
.abtD{
    width: 50%;
    margin-left: 100px;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 30px;
}
.spec2day h1{
    text-align: center;
    font-size: 70px;
    letter-spacing: 3px;
    word-spacing: 10px;
    color: rgb(142, 142, 142);
}
.spcards{
    /* background-color: blue; */
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    height: max-content;
}
.card{
    width: 60%;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
    font-size: 20px;
    letter-spacing: 3px;
    word-spacing: 7px;
    line-height: 28px;
    margin: 15px;
}
.fpic img{
    height: 250px;
    border-radius: 200px;
}
.desc{
    width: 60%;
    margin-left: 30px;
}
.right{
    float: right;
}
.review{
    margin-top: 400px;
    padding-left: 20px;
    padding-right: 20px;
}
.revcard{
    width: 70vw;
    display: flex;
    margin: 40px 20px;
    padding: 15px;
    flex-wrap: wrap;
    
    align-items: center;
    font-size: 20px;
    background-color: whitesmoke;
    box-shadow: gray 0 2px 3px 1px;
    border-radius: 20px;
    }
.prof img{
    height: 150px;
    border-radius: 20px;
}
.rev{
    width: 60%;
    margin-left: 50px;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 4px;
}
.review h1{
    color: rgb(142, 142, 142);
    font-size: 70px;
    letter-spacing: 2px;
    text-align: center;
}
@media screen and (max-width: 800px)
{
    .title2{
        letter-spacing: 2px;
        left: 1%;
        font-size: 19px;
        margin-left: 2px;
    }
    .nav .list{
        display: none;
    }
    .nav #menu{
        display: block;
    }
    .nav i{
        font-size: 30px;
        position: relative;
        left: 30px;
        top: 20px;
        color: white;
    }
    .moblist{
        position: absolute;
        top: 64px;
        
        background-color: rgba(50, 44, 44, 1);
        
    }
    .moblist a{
        text-decoration: none;
        color: white;
        display: block;
        width: 100%;
        margin: 15px 10px;
        height: max-content;
        font-size: 15px;
    }
    .moblist a:hover{
        background-color: rgb(42, 38, 38);
    }
    .abtD{
        margin-left: 30px;
        width: 70%;
        letter-spacing: 2px;
        word-spacing: 1px;
        font-size: 18px;
        font-style: Arial;
    }
    .about{
        justify-content: center;
    }
    .abtImg{
        justify-content:center;
    }
    .abtImg img{
        border-radius: 20px;
    }
    .card{
        width: 80%;

    }
    .desc {
        width: 99%;
        margin-left: 30px;
    }
    .right{
        float: none;
    }
    .review{
        margin-top: 50px;
    }
    .rev{
        width: 80%;
        text-align: left;
    }
    .prof img{
        position: relative;
        left: 50px;
    }
    .card{
        width: 80%;
    }
    .desc{
        width: 100%;
        margin-left: 10px;
    }
    .fpic img{
        border-radius: 5px;
        height: 200px;
        margin: 15px;
    }

}

/*Orders Page*/

.mtitle{
    width: 100%;
    text-align: center;
    position: relative;
    top: 100px;
    font-size: 30px;
    font-weight: 700;
    color: whitesmoke;
    
}
.mtitle h1{
    animation-name: fade;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}
.frame{
    position: relative;
    top: 100px;
    display:flex;
    margin: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(235,235,235);
    padding: 20px;
    border-radius: 30px;
}
.cards{
    background-color: white;
    width:20%;
    height:350px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 gray;
    border:1px solid rgba(181, 185, 141, 0.877);
    border-radius: 10px;
}
.cards:hover{
    box-shadow: 0 6px 10px 0 gray;
}
.name{
    margin:0;
    float: left;
    margin: 2px;
}
.btn, .btn:active{
    margin:2px 4px 2px 2px;
    float: right;
    color:rgb(46, 184, 28);
    border: 2px solid rgb(46, 184, 28);
    padding: 5px;
    border-radius: 15px;
    transition: all 0.5s;
    position: relative;
}
.btn a{
    text-decoration: none;
    color:rgb(46, 184, 28) ;
}
.btn:hover{
    background-color: rgb(46, 184, 28);
    color: whitesmoke;
    box-shadow: 0 4px 8px 0 gray;
}
.btn a:hover, .btn a:active{
    color: whitesmoke;
}
.btn:active{
    position: relative;
    box-shadow: 0 3px 3px 0 gray;
    bottom:1px;
}
.btn a:focus, .btn:focus{
    visibility: hidden;
}

.btn a:focus, .btn:focus{
    content: 'Added';
    visibility: visible;
    display: block;
    position: relative;
    bottom: 10px;
    background-color: white;
    top: 2px;
}
.text{
    clear:both;
    margin-bottom: 5px;
    padding: 10px;
}
.cat{
            
    float: left;
}
.cat img{
    margin-left: 10px;
    width:30px;
    height: auto;
}
.price{
    float: right;
    margin: 5px;
    font-weight: bold;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity:1;
    }
}
.footer{
    width: 100%;
    height: 70vh;
    background: linear-gradient(to bottom, rgba(5, 16, 31, 0.8), rgba(12, 31, 38, 0.8), rgba(28, 43, 44, 0.8), rgba(47, 55, 52, 0.8), rgba(65, 67, 64, 0.8));
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.txt{
    width: 100%;
    font-size: 30px;
    margin-top: 50px;
}
.txt a{
    display:block;
    text-decoration: none;
    color: white;
    text-align: center;
    margin: 25px;
}
.connect{
    width: 100%;
    text-align: center;
}
.connect i{
    color: white;
    font-size: 50px;
    margin: 25px;
}
.footer h2{
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: seashell;
}
.orfooter{
    position: relative;
    top: 150px;
    background-color:  rgba(5, 16, 31, 0.9);
}
@media screen and (max-width: 800px)
{
    .frame{
        flex-direction: column;
        align-items: center;
    }
    .cards{
        width: 75%;
    }
    .mtitle{
        font-size: 20px;
    }
    .txt{
        font-size: 25px;
    }
}